body {
    overflow-y: scroll;
    overflow-x: hidden;
}

body {
    font-family: 'Open Sans', sans-serif;
}

a,
a:focus,
a:active {
    outline: none;
}


/************header small area***************/

.slicknav_menu {
    display: none;
}

.header_small {
    background-color: #353434;
}

.logo_area {
    float: left;
}

.logo_area_o p {
    color: #fff;
    float: left;
    font-size: 13px;
    font-weight: 400;
    padding-top: 13px;
}

.logo_area img {
    padding: 5px 10px 5px 0;
}

.call h3 {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 51%;
    padding-top: 14px;
}


/************booking area***************/

.booking {
    background-image: url(yellow.png);
    background-size: 100% 100%;
}

.booking_contact {
    background-image: url("call.png");
    background-position: 303px center;
    background-repeat: no-repeat;
    background-size: 59% 47%;
    margin-top: 4px;
    padding: 32px;
}

.booking_logo h2 {
    color: #fff;
    font-size: 54px;
    font-weight: 800;
    margin-top: 4px;
}

.booking_logo {
    float: left;
    margin-top: 16px;
}

.booking_logo h2 span {
    font-size: 34px;
}

.booking_contact h5 {
    color: #fefefe;
    float: left;
    font-size: 24px;
    font-weight: 600;
    padding-left: 4%;
    padding-top: 2px;
}

.booking_right_logo {
    position: absolute;
    right: 64px;
    top: 0;
}

.booking_contct {}

.booking_contact > p {
    color: #353434;
    float: left;
    font-size: 20px;
    font-weight: 600;
    padding-left: 20px;
    padding-top: 13px;
}

.booking_contact h6 {
    color: #0060dc;
    font-size: 30px;
    font-weight: 700;
    padding-left: 65%;
}

ul#menu {
    padding-left: 303px;
}

ul#menu li {
    display: inline;
    padding-right: 15px;
}

ul#menu li:last-child {
    padding-right: 0;
}

ul#menu li a {
    border-right: 1px solid #232323;
    color: #232323;
    font-size: 14.4px;
    font-weight: 600;
    padding-right: 8px;
    text-decoration: none;
}


/************white area***************/

.white {
    min-height: 17px;
}


/************header small area***************/

.car {
    background-image: url("car.png");
    background-repeat: no-repeat;
    background-size: 100% 129%;
}

.shadow_bg {
    background-image: url("bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#owl-demo .item img {
    display: block;
    width: 100%;
    height: auto;
}

.text > p {
    color: #fff;
    font-size: 45px;
    font-style: italic;
    font-weight: 700;
    left: 70px;
    position: absolute;
    top: 90px;
}

.col-sm-12.mrg_top {
    margin-bottom: 10px;
    margin-top: 43px;
}

input[type="submit"] {
    background-image: url("input.png");
    background-size: 100% 100%;
    border: 0 none;
    font-size: 16px;
    font-weight: 600;
    left: 71px;
    letter-spacing: 5px;
    padding: 12px 80px;
    position: absolute;
    top: 239px;
}

.owl-pagination {
    left: 52px;
    position: absolute;
    top: 369px;
}

.owl-page > span {
    background-color: transparent !important;
    border: 2px solid #fff;
}

.owl-page.active > span {
    background-color: #fff !important;
}

.fifty_five {
    background-color: #ffde00;
    border: 1px solid #ffde00;
    border-radius: 10px;
    text-align: center;
    width: 100%;
}

.forty_nine {
    background-color: #1AA8E6;
    text-align: center;
    width: 100%;
    border: 1px solid #1AA8E6;
    border-radius: 10px;
}

.col-sm-8 {
    padding-left: 0;
}

.col-sm-6.pad-left {
    padding-left: 0;
}

.border_dotted > h4 {
    color: #fff;
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 15px;
    margin-top: 15px;
}

.border_dotted > h6 {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    padding: 0 5px;
}

.border_dotted > p {
    color: #fff;
    font-size: 8px;
    margin-bottom: 0;
    padding: 0 36px 13px;
}

.border_dot > h4 {
    color: #fff;
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 15px;
    margin-top: 15px;
}

.border_dot > h6 {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    padding: 0 16px;
}

.border_dot > p {
    color: #fff;
    font-size: 8px;
    margin-bottom: 0;
    padding: 0 59px 13px;
}

.border_dotted {
    border: 2px dashed #ffd100;
    border-radius: 10px;
    margin: 6px;
}

.border_dot {
    border: 2px dashed #1A5FAC;
    border-radius: 10px;
    margin: 6px;
}

.lorem h1 {
    color: #0086cc;
    font-size: 42px;
    font-weight: 600;
    line-height: 56px;
    padding-top: 20px;
}

.lorem > p {
    color: #282828;
    font-size: 15px;
    font-weight: 400;
    line-height: 27px;
    padding-bottom: 9px;
    padding-top: 13px;
}

.lorem > h4 {
    color: #0086cc;
    font-size: 24px;
    font-weight: 600;
    padding-top: 12px;
}

#sign > li {
    list-style: outside none none;
    padding: 9px 20px;
    position: relative;
}

#sign > li::before {
    background-image: url("arrow.png");
    content: "";
    height: 15px;
    left: -8px;
    position: absolute;
    top: 4px;
    width: 9px;
}

.col-sm-12.pad-left {
    padding-left: 0;
}

.img-logo > img {
    width: 100%;
}

.col-sm-12 > img {
    margin-bottom: 24px;
    width: 100%;
}

.sub_blue {
    background-image: url("blue.png");
    background-size: 100% 100%;
    padding: 6px;
}

.col-sm-4 {
    padding-right: 0;
}

.col-sm-12.pad-right {
    padding-left: 0;
    padding-right: 0;
}

.sub_blue > h5 {
    color: #fff;
    float: left;
    font-size: 16px;
    font-weight: 700;
    padding-left: 12px;
}

.sub_blue > h6 {
    font-size: 16px;
    font-weight: 700;
    padding-left: 191px;
}

.form_area {
    background-color: #f3f3f3;
    margin-top: 23px;
}

.img-logo > img {
    margin-bottom: 53px;
    margin-top: 40px;
}

.form_area > p {
    color: #1a1a1a;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    padding-top: 20px;
}

.form_area p span {
    color: #0090CC;
}

.form-control {
    background-color: #fff;
    background-image: none;
    border: 2px solid #ebebeb;
    border-radius: 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    display: block;
    font-size: 11px;
    font-weight: 600;
    height: 31px;
    line-height: 1.42857;
    margin-bottom: 10px;
    -webkit-transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}

.form-control:focus {
    box-shadow: none;
    border-color: #ebebeb;
}

#slct.form-control {
    color: #999;
    padding: 6px 10px;
}

.all_form {
    padding: 0 24px;
}

.side-img > img {
    margin-bottom: 26px;
    width: 100%;
}

input#snd[type="submit"] {
    background-image: url("input.png");
    background-size: 100% 100%;
    border: 0 none;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 5px;
    margin-bottom: 30px;
    padding: 12px 126px;
    position: inherit;
}

.list_menu > ul {
    margin-bottom: 0;
}

.side-img2 {
    background-image: url("zero.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 113px;
}

.shadow_bg {
    background-image: url("bg.png");
    background-repeat: no-repeat;
    background-size: 100% 99%;
}


/************footer area***************/

.footer {
    background-color: #363636;
}

.footer_txt > h4 {
    color: #fff;
    font-size: 19px;
    font-weight: 700;
}

.footer_txt > p {
    color: #929292;
    font-size: 14px;
    font-weight: 600;
    line-height: 28px;
    padding-right: 19px;
}

.contact_icon > p {
    color: #929292;
    font-size: 15px;
    font-weight: 600;
    padding-left: 34px;
    padding-top: 9px;
}

.fa.fa-phone {
    color: #676767;
    float: left;
    font-size: 32px;
}

.fa.fa-envelope {
    color: #676767;
    float: left;
    font-size: 29px;
}

.footer_txt a {
    text-decoration: none;
}

.footer_txt a.line {
    line-height: 54px;
    text-decoration: none;
}

.footer_txt {
    padding-bottom: 70px;
    padding-top: 30px;
}

.col-sm-3 {
    padding: 0;
}


/***************copyright area*****************/

.copy {
    background-image: url("copy.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.copyright > h4 {
    color: #fff;
    float: left;
    font-size: 14px;
    font-weight: 600;
    padding-bottom: 23px;
    padding-top: 25px;
}

.copyright span {
    color: #ffef00;
}

.copyright > h5 {
    padding-left: 78%;
    padding-top: 35px;
}

.copyright a {
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    text-decoration: none;
}